.Weather {
  font-family: "Century Gothic Std";
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 5px;
  color: rgb(63, 57, 57);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0px;
  padding: 0;
}
.Weather li {
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  line-height: 64px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}
